section.section

    .news__block
        h2.text-center Новости и события
        .container-fluid
            .news__block-wrap.js-news-block
                .row

                    .col-md-6.col-lg-4.col-sm-12
                        .news__block-item.hover-shadow
                            .nbi-head

                                img(src="img/news/n1.png", alt="")

                            a(href="#").nbi-main
                                p.date.small 12 апреля 2018
                                h3 Национальный рейтинг Коммуникационных
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-bottom
                                a(href="#")
                                    +icon('facebook','red_mod')   
                                a(href="#")
                                    +icon('vk','red_mod')  
                                a(href="#")
                                    +icon('twit','red_mod')  

                            .nbi-line


                    .col-md-6.col-lg-4.col-sm-12
                        .news__block-item.hover-shadow

                            .nbi-head

                                img(src="img/news/n1.png", alt="")

                            a(href="#").nbi-main
                                p.date.small 12 апреля 2018
                                h3 Национальный рейтинг Коммуникационных
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-bottom
                                a(href="#")
                                    +icon('facebook','red_mod')   
                                a(href="#")
                                    +icon('vk','red_mod')  
                                a(href="#")
                                    +icon('twit','red_mod')  

                            .nbi-line

                    .col-md-6.col-lg-4.col-sm-12
                        .news__block-item.hover-shadow

                            .nbi-head

                                img(src="img/news/n1.png", alt="")

                            a(href="#").nbi-main
                                p.date.small 12 апреля 2018
                                h3 Национальный рейтинг Коммуникационных
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-bottom
                                a(href="#")
                                    +icon('facebook','red_mod')   
                                a(href="#")
                                    +icon('vk','red_mod')  
                                a(href="#")
                                    +icon('twit','red_mod')  

                            .nbi-line


                    .col-md-6.col-lg-4.col-sm-12
                        .news__block-item.hover-shadow
                            .nbi-head

                                img(src="img/news/n1.png", alt="")

                            a(href="#").nbi-main
                                p.date.small 12 апреля 2018
                                h3 Национальный рейтинг Коммуникационных
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-bottom
                                a(href="#")
                                    +icon('facebook','red_mod')   
                                a(href="#")
                                    +icon('vk','red_mod')  
                                a(href="#")
                                    +icon('twit','red_mod')  

                            .nbi-line


                    .col-md-6.col-lg-4.col-sm-12
                        .news__block-item.hover-shadow

                            .nbi-head

                                img(src="img/news/n1.png", alt="")

                            a(href="#").nbi-main
                                p.date.small 12 апреля 2018
                                h3 Национальный рейтинг Коммуникационных
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-bottom
                                a(href="#")
                                    +icon('facebook','red_mod')   
                                a(href="#")
                                    +icon('vk','red_mod')  
                                a(href="#")
                                    +icon('twit','red_mod')  

                            .nbi-line


