section.section
	.news__slider
		.news__block-wrap

			.js-news-slider.swiper-container.container-fluid
				.swiper-wrapper
					a(href="img/news/ns1.jpg" rel="gallery-1").swiper-slide
						img(src="img/news/ns1.jpg", alt="")
						.ns-overlay
					a(href="img/news/ns2.jpg" rel="gallery-1").swiper-slide
						img(src="img/news/ns2.jpg", alt="")
						.ns-overlay
					a(href="img/news/ns3.jpg" rel="gallery-1").swiper-slide
						img(src="img/news/ns3.jpg", alt="")
						.ns-overlay
					a(href="img/news/ns1.jpg" rel="gallery-1").swiper-slide
						img(src="img/news/ns1.jpg", alt="")
						.ns-overlay
					a(href="img/news/ns2.jpg" rel="gallery-1").swiper-slide
						img(src="img/news/ns2.jpg", alt="")
						.ns-overlay
					a(href="img/news/ns3.jpg" rel="gallery-1").swiper-slide
						img(src="img/news/ns3.jpg", alt="")
						.ns-overlay

					a(href="img/news/ns1.jpg" rel="gallery-1").swiper-slide
						img(src="img/news/ns1.jpg", alt="")
						.ns-overlay
					a(href="img/news/ns2.jpg" rel="gallery-1").swiper-slide
						img(src="img/news/ns2.jpg", alt="")
						.ns-overlay
					a(href="img/news/ns3.jpg" rel="gallery-1").swiper-slide
						img(src="img/news/ns3.jpg", alt="")
						.ns-overlay

				.swiper-news-button-next
					+icon('n-right-arrow','n-right-arrow')
				.swiper-news-button-prev
					+icon('n-left-arrow','n-left-arrow')





