section.section
    .container-fluid.our-commands
        h3.ab-title Наша команда
        .our__commands_block-wrap.js-our-commands-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    
                        .news__block-item
                            .nbi-head

                                img(src="img/about/oc-1.png", alt="")

                            .nbi-main
                                h4.oc-name Мария Шахова
                                p.text-yellow.small ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                                
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-line


                .swiper-slide                                        

                
                        .news__block-item
                            .nbi-head

                                img(src="img/about/oc-2.png", alt="")

                            .nbi-main
                                h4.oc-name Мария Шахова
                                p.text-yellow.small ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                                
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-line


                .swiper-slide
                
                        .news__block-item
                            .nbi-head

                                img(src="img/about/oc-3.png", alt="")

                            .nbi-main
                                h4.oc-name Мария Шахова
                                p.text-yellow.small ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                                
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-line


                .swiper-slide
                
                        .news__block-item
                            .nbi-head

                                img(src="img/about/oc-4.png", alt="")

                            .nbi-main
                                h4.oc-name Мария Шахова
                                p.text-yellow.small ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                                
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-line


                .swiper-slide
                
                        .news__block-item
                            .nbi-head

                                img(src="img/about/oc-5.png", alt="")

                            .nbi-main
                                h4.oc-name Мария Шахова
                                p.text-yellow.small ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                                
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-line

                                
                .swiper-slide
                
                        .news__block-item
                            .nbi-head

                                img(src="img/about/oc-6.png", alt="")

                            .nbi-main
                                h4.oc-name Мария Шахова
                                p.text-yellow.small ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                                
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-line

                .swiper-slide
                
                        .news__block-item
                            .nbi-head

                                img(src="img/about/oc-7.png", alt="")

                            .nbi-main
                                h4.oc-name Мария Шахова
                                p.text-yellow.small ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                                
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-line

                                
                .swiper-slide
                
                        .news__block-item
                            .nbi-head

                                img(src="img/about/oc-8.png", alt="")

                            .nbi-main
                                h4.oc-name Мария Шахова
                                p.text-yellow.small ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                                
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-line

                .swiper-slide
                
                        .news__block-item
                            .nbi-head

                                img(src="img/about/oc-9.png", alt="")

                            .nbi-main
                                h4.oc-name Мария Шахова
                                p.text-yellow.small ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                                
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-line

                                
                .swiper-slide
                
                        .news__block-item
                            .nbi-head

                                img(src="img/about/oc-10.png", alt="")

                            .nbi-main
                                h4.oc-name Мария Шахова
                                p.text-yellow.small ГЕНЕРАЛЬНЫЙ ДИРЕКТОР
                                
                                p.small По итогам 2016 года, PR-агентство Марии Шаховой вошло в Национальный Рейтинг Коммуникационных Компаний ТОП-50. 
                                    |Выражаем благодарность нашим партнерам, клиентам и просто друзьям! МЫ работаем, чтобы ВАС любили!


                            .nbi-line



                .col.b__form-job
                    .form__job
                        .form__job-wrap
                            h4.form-title Хотите стать частью
                                br
                                | нашей команды?
                            p.small.text-color-gray.text-center Присылайте своё резюме

                            .form__job_face.text-center

                                button.btn.btn-yellow.btn-small.js-btn-face(type='submit') ОТПРАВИТЬ РЕЗЮМЕ


                            form.js-form-validate-job.hidden(action="")
                                .row
                                    .col-sm-6
                                        .form-group        
                                            input#nic.form-control.form-control-lg(type='text' name="nic" placeholder="Ваше Имя" )
                                            small#nicHelp.form-text.text-muted 

                                    .col-sm-6
                                        .form-group    
                                            input#email.form-control.form-control-lg(type='text' name="email" placeholder="Ваш e-mail")
                                            small#emailHelp.form-text.text-muted        



                                .row
                                    .col
                                        .form-group.posr                                            
                                            textarea#todo.job-textarea.form-control(name="textarea"  placeholder = "О себе")
                                            small#textareaHelp.form-text.text-muted 
                                .row
                                    .col-sm-6.text-center.text-sm-left
                                        .icon-upload
                                            +icon('skrep','')
                                            label.psevd-upload(for='uploaded_file') ПРИКРЕПИТЬ ФАЙЛ
                                        input#uploaded_file.uploaded_file(type='file', name='uploaded_file')
                                    .col-sm-6
                                        button.btn.btn-yellow.btn-full.js-form-send(type='submit') ОТПРАВИТЬ РЕЗЮМЕ

            .swiper-pagination  

        .js-container-form-job
