section.section

	.portfolio__block
		h2.text-center.fz-md-24 Работаем с ведущими СМИ
		.container-fluid.porfolio__block-wrap

					.js-portfolio-slider.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="img/portfolio/meduza.png", alt="")
							.swiper-slide
								img(src="img/portfolio/ostankino.png", alt="")
							.swiper-slide
								img(src="img/portfolio/ross1.png", alt="")
							.swiper-slide
								img(src="img/portfolio/komspr.png", alt="")
							.swiper-slide
								img(src="img/portfolio/forbes-magazine.png", alt="")
							.swiper-slide
								img(src="img/portfolio/kommersant.png", alt="")
							.swiper-slide
								img(src="img/portfolio/vedomosti.png", alt="")
							.swiper-slide
								img(src="img/portfolio/logo-snob.png", alt="")
							.swiper-slide

								img(src="img/portfolio/meduza.png", alt="")
							.swiper-slide
								img(src="img/portfolio/ostankino.png", alt="")
							.swiper-slide
								img(src="img/portfolio/ross1.png", alt="")
							.swiper-slide

								img(src="img/portfolio/komspr.png", alt="")
							.swiper-slide
								img(src="img/portfolio/forbes-magazine.png", alt="")
							.swiper-slide
								img(src="img/portfolio/kommersant.png", alt="")
							.swiper-slide
								img(src="img/portfolio/vedomosti.png", alt="")
							.swiper-slide
								img(src="img/portfolio/logo-snob.png", alt="")
						.swiper-scrollbar
						