section.section

	.video__block
		h2.text-center Видео и ТВ сюжеты
		.container.video__block-wrap.js-video-block
			.row
				.col-6
					.video-grid-item
						img(src="img/video/v1.png", alt="")
						.video-overlay
						.video__content-inner
							p.date.small 12 апреля 2018
							p.video__content-inner-text
								| Национальный рейтинг Коммуникационных 
				.col-6
					.row
						.col-6

							.video-grid-item
								img(src="img/video/v2.png", alt="")
								.video-overlay


							.video-grid-item
								img(src="img/video/v3.png", alt="")
								.video-overlay

						.col-6

							.video-grid-item
								img(src="img/video/v4.png", alt="")
								.video-overlay

							.video-grid-item
								img(src="img/video/v5.png", alt="")
								.video-overlay

			.row									

				.col-6
					.video-grid-item
						img(src="img/video/v1.png", alt="")
						.video-overlay
						.video__content-inner
							p.date.small 12 апреля 2018
							p.video__content-inner-text
								| Национальный рейтинг Коммуникационных 
				.col-6
					.row
						.col-6

							.video-grid-item
								img(src="img/video/v2.png", alt="")
								.video-overlay


							.video-grid-item
								img(src="img/video/v3.png", alt="")
								.video-overlay

						.col-6

							.video-grid-item
								img(src="img/video/v4.png", alt="")
								.video-overlay

							.video-grid-item
								img(src="img/video/v5.png", alt="")
								.video-overlay									