section.section

	.video__block
		h2.text-center Видео и ТВ сюжеты
		.container-fluid
			.video__block-wrap.js-video-block

				.row
					.col-md-6.col-sm-12
						.video-grid-item.big-video
							img(src="img/video/v1.png", alt="")
							.video-overlay
							.video__content-inner

								.video__content-inner-h-area
									a.js-btn-open-video(href="#")
										+icon('play-button','red_mod')
								a(href="#").d-block.video__content-inner-l-area
									p.date.small 12 апреля 2018
									p.video__content-inner-text
										| Национальный рейтинг Коммуникационных
									p.hide-btn.text-yellow
										| подробнее &rarr; 
					.col-md-6.col-sm-12
						.row
							.col-6

								.video-grid-item
									img(src="img/video/v2.png", alt="")
									.video-overlay
									.video__content-inner
										.video__content-inner-h-area
											a.js-btn-open-video(href="#")
												+icon('play-button','red_mod')

								.video-grid-item
									img(src="img/video/v3.png", alt="")
									.video-overlay
									.video__content-inner
										.video__content-inner-h-area
											a.js-btn-open-video(href="#")
												+icon('play-button','red_mod')

							.col-6

								.video-grid-item
									img(src="img/video/v4.png", alt="")
									.video-overlay
									.video__content-inner
										.video__content-inner-h-area
											a.js-btn-open-video(href="#")
												+icon('play-button','red_mod')

								.video-grid-item
									img(src="img/video/v5.png", alt="")
									.video-overlay
									.video__content-inner
										.video__content-inner-h-area
											a.js-btn-open-video(href="#")
												+icon('play-button','red_mod')

				.row
					.col-md-6.col-sm-12
						.video-grid-item.big-video
							img(src="img/video/v1.png", alt="")
							.video-overlay
							.video__content-inner

								.video__content-inner-h-area
									a.js-btn-open-video(href="#")
										+icon('play-button','red_mod')
								a(href="#").d-block.video__content-inner-l-area
									p.date.small 12 апреля 2018
									p.video__content-inner-text
										| Национальный рейтинг Коммуникационных
									p.hide-btn.text-yellow
										| подробнее &rarr;
					.col-md-6.col-sm-12
						.row
							.col-6

								.video-grid-item
									img(src="img/video/v2.png", alt="")
									.video-overlay
									.video__content-inner
										.video__content-inner-h-area
											a.js-btn-open-video(href="#")
												+icon('play-button','red_mod')

								.video-grid-item
									img(src="img/video/v3.png", alt="")
									.video-overlay
									.video__content-inner
										.video__content-inner-h-area
											a.js-btn-open-video(href="#")
												+icon('play-button','red_mod')

							.col-6

								.video-grid-item
									img(src="img/video/v4.png", alt="")
									.video-overlay
									.video__content-inner
										.video__content-inner-h-area
											a.js-btn-open-video(href="#")
												+icon('play-button','red_mod')

								.video-grid-item
									img(src="img/video/v5.png", alt="")
									.video-overlay
									.video__content-inner
										.video__content-inner-h-area
											a.js-btn-open-video(href="#")
												+icon('play-button','red_mod')