.modal__video.js-show-modal-video

	.modal__video-wrap
		.modal__todo-close.js-btn-close-modal
			img(src="img/modals/close-white.png", alt="")
		.js-video-slider.swiper-container
			.swiper-wrapper
				.swiper-slide
					img(src="img/video/v1.png", alt="")
				.swiper-slide
					img(src="img/video/v2.png", alt="")
				.swiper-slide
					img(src="img/video/v3.png", alt="")
				.swiper-slide
					img(src="img/video/v4.png", alt="")
				.swiper-slide
					img(src="img/video/v5.png", alt="")
				.swiper-slide
					img(src="img/video/v6.jpg", alt="")

	.modal__video-buttons
		button.modal__video-button.modal__video-button-prev

		button.modal__video-button.modal__video-button-next 