.modal__menu.js-show-modal-menu
	.modal__menu-wrap
		.modal__menu-head.text-center
			.row.align-items-center
				//- .col
				//- 	a(href="#")
				//- 		+icon('facebook-black','red_mod')

				//- .col
				//- 	button.btn.btn-yellow.js-btn-open-todo(type='submit') ПОСТАВИТЬ ЗАДАЧУ
				//- .col
				//- 	span.modal__menu-close.js-btn-close-modal
				//- 		+icon('close-black','red_mod')
	

		.modal__menu_block
			.row
				.col-5.d-none.d-sm-block
					.modal__menu_b-left
						ul
							li
								a.modal__menu-link(href="#") Услуги
							li

								ul.modal__menu-sub


									li
										a.modal__menu-link-sub(href="#") Бизнес и технологии
									li
										a.modal__menu-link-sub(href="#") Медицина и фарма
									li
										a.modal__menu-link-sub(href="#") Fashion & Beauty+Horeca
									li
										a.modal__menu-link-sub(href="#") Социальная и политическая практика

				.col-sm-7
					.modal__menu_b-right

						ul.modal__menu_b-r-h
							li.d-block.d-sm-none
								a.modal__menu-link(href="#") Услуги

							li
								a.modal__menu-link(href="#") Клиенты
							li
								a.modal__menu-link(href="#") Вакансии
							li
								a.modal__menu-link(href="#") О нас
							li
								a.modal__menu-link(href="#") Контакты
							li
								a.modal__menu-link(href="#") Новости
						ul.modal__menu_b-r-b
							li
								a.modal__menu-link(href="#") Видео и пресс-релизы


		.modal__menu-botoom

			.modal__menu-botoom-contacts

				.row.justify-content-between
					.col-sm-4.col-xs-12.text-center
						a.link-email(href="#") info@mashakhova.ru
						
					.col-sm-4.col-6
						a(href="#") +7 495 653 8173

					.col-sm-4.col-6
						a(href="#") +7 495 410 6151


			.modal__menu-botoom-etc
				.row.justify-content-between
					.col
						a(href="#") Карта сайта
					.col
						a(href="#") Политика конфиденциальности

		.modal__menu-b-btn.d-md-none
			button.btn.btn-yellow.js-btn-open-todo.js-vision-open-menu 
				span ПОСТАВИТЬ ЗАДАЧУ

