.modal__video.js-show-modal-video

	.modal__video-wrap
		.modal__todo-close.js-btn-close-modal
			img(src="img/modals/close-white.png", alt="")
		.video-modal-block
			iframe(width="100%" height="450" src="https://www.youtube.com/embed/dHhKIs1LXJ0&autoplay=1" frameborder="0" allowfullscreen)


