.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	margin: 0 6px;
	fill: currentColor;
}

.icon-arrow-list {
	
	width:(17/10)*1em;
}
.icon-begemot {
	
	width:(149.89/218.86)*1em;
}
.icon-close-black {
	
	width:(21.04/21.04)*1em;
}
.icon-close-white {
	
	width:(35.12/35.12)*1em;
}
.icon-facebook {
	
	width:(11.09/20.51)*1em;
}
.icon-facebook-black {
	
	width:(77.5/15.34)*1em;
}
.icon-gamb {
	
	width:(28/23)*1em;
}
.icon-logo-f {
	
	width:(155/81.36)*1em;
}
.icon-logo-h {
	
	width:(155/81.36)*1em;
}
.icon-n-left-arrow {
	
	width:(12/20)*1em;
}
.icon-n-right-arrow {
	
	width:(12/20)*1em;
}
.icon-nopage-m {
	
	width:(286/118)*1em;
}
.icon-play-button {
	
	width:(31/42)*1em;
}
.icon-research-logo {
	
	width:(86.5/38.08)*1em;
}
.icon-skrep {
	
	width:(13/15)*1em;
}
.icon-twit {
	
	width:(22.6/18.36)*1em;
}
.icon-vk {
	
	width:(21.86/12.47)*1em;
}
.icon-zn-home {
	
	width:(80/179)*1em;
}
